---
layout: default
---

<div class="posts">
  {% for post in paginator.posts %}
    <article class="post">

      <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>

  <div class="imgBox">
        <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">
        {% if post.image %} <img class="postthumb" src="{{ post.image }}" alt="{{ post.title }}">{% endif %}
         </a>
          <div class="entry">
        {{ post.excerpt | truncate: 100 }}
      </div>
</div> 
    </article>
  {% endfor %}

  {% include pagination.html %}
</div>
