---
layout: default
---

  <main class="posts">
    {% for post in paginator.posts %}
    <article class="post">
      <div class="post-image">
        <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">
        {% if post.image %} <img class="postthumb" src="{{ post.image }}" alt="{{ post.title }}">{% endif %}
         </a>
      </div>
      <div class="post-content">
       <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
        <p class="excerpt">{{ post.excerpt | truncate: 100 }}</p>
      </div>
    </article>
  {% endfor %}
      {% include pagination.html %}
  </main>

<style>

main.posts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* CSS untuk Desktop (Flexbox) */
.posts {
  display: flex;
  flex-wrap: wrap; /* Membuat elemen-elemen bisa berada di baris baru jika terlalu banyak */
  justify-content: space-between; /* Memberi jarak antar elemen */
  gap: 20px;
  margin-top: 30px;
}

.post {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  width: 30%; /* Memberi lebar 30% untuk setiap post */
}

.post:hover {
  transform: translateY(-10px);
}

.post-image {
  margin-bottom: 15px;
}

.post-image img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.post-content h2 {
  font-size: 1.5em;
  margin: 10px 0;
}

.post-content .excerpt {
  font-size: 1em;
  color: #777;
}

/* CSS untuk Mobile (Grid) */
@media (max-width: 768px) {
  .posts {
    display: grid; /* Mengubah ke grid pada layar kecil */
    grid-template-columns: 1fr; /* 1 kolom pada layar kecil */
    gap: 20px; /* Memberi jarak antar post */
  }

  .post {
    margin-bottom: 20px; /* Memberikan jarak antar post */
  }

  .post-image {
    margin-bottom: 10px; /* Mengurangi jarak antara gambar dan konten */
  }

  .post-image img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }

  .post-content h2 {
    font-size: 1.2em;
    margin-top: 10px;
  }

  .post-content .excerpt {
    font-size: 0.9em;
    margin-top: 10px;
    color: #555;
  }
}


</style>
