
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}

.pagination a {
  padding: 8px 12px;
  background-color: #f0f0f0;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  display: inline-block;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.pagination a:hover {
  background-color: #007bff;
  color: #fff;
  border-color: #0056b3;
}

.pagination .webjeda {
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: 1px solid #007bff;
  border-radius: 5px;
  font-size: 16px;
  display: inline-block;
}

.pagination i {
  font-size: 16px;
  color: #007bff;
  transition: color 0.3s ease;
}

.pagination a:hover i,
.pagination span i:hover {
  color: #0056b3;
}

.pagination span {
  display: inline-block;
  padding: 8px 12px;
  background-color: #f0f0f0;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.pagination span i {
  pointer-events: none;
}

@media (max-width: 768px) {
  .pagination {
    flex-direction: column;
    align-items: center;
  }
  .pagination a, .pagination .webjeda {
    padding: 6px 10px;
  }
}
.fa-chevron-right {
    background: no-repeat center url(data:image/svg+xml;charset=utf8,%3Csvg aria-hidden='true' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512' %3E%3Cpath fill='%23000' d='M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z' class=''%3E%3C/path%3E%3C/svg%3E);
}